* {
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* border-radius: 10px;/ */
    align-items: center;
}

#formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 35em;
    width: 100%;
    background-color: rgb(152, 236, 113);
}

#form {
    display: flex;
    align-items: center;
    align-content: center;
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
    /* flex-direction: row; */
    align-content: center;
    height: 35em;
    width: 100%;
}

.form {
    width: 20em;
    height: 20em;
    background-color: white;
    border-radius: 7px;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid green;
}

input:focus {
    outline: none;
    background: linear-gradient(#ce1c1c00, #0000003d);
}

input {
    width: 100px;
    height: 30px;
    background-color: transparent;
    margin-left: 10px;
}

.submit:hover {
    text-transform: uppercase;
    transform: translateY(-2px);
}

.submit:active {
    transform: translateZ(2px);
}

.warnings {
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: auto;
    color: #5f0808;
    padding-top: 20px;
}